@model Garage2._6.Models.ParkedVehicle


<br />
<h2>Details</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.VehicleType)</dt>

        <dd>@Html.DisplayFor(model=>model.VehicleType.TypeName)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberofEngines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberofEngines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Members.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Members.FirstName)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Overview")
</p>
