@model IEnumerable<Garage2._6.Models.ParkedVehicle>

<br />
<h2>Full Index</h2>

<p>
    @Html.ActionLink("Park a Vehicle", "Park" )
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofEngines)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofEngines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTypeId)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.VehicleTypeId }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
               @* @Html.ActionLink("CheckOut", "receipt", new { id = item.VehicleTypeId })*@
            </td>
        </tr>
    }

</table>

