@model IEnumerable<Garage2._6.Models.ParkedVehicle>

<br />
<h2>Full Index</h2>

<p>
    @Html.ActionLink("Park", "Park")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofEngines)
        </th>
        

        <th>@Html.DisplayNameFor(model => model.VehicleType)</th>
      
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofEngines)
        </td>
        
        <td>@Html.DisplayFor(modelItem=> item.VehicleType.TypeName)</td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>

      
    </tr>
}

</table>
