@model IEnumerable<Garage2._6.Models.ParkedVehicle>

<br />

<h2>Overview</h2>

<p>
    @Html.ActionLink("Park a new Vehicle", "Park")
</p>

@using (Html.BeginForm("Search", "ParkedVehicles", FormMethod.Post))
{
    <form method="post" action="overview">
        @Html.TextBox("search")
        <button class="btn btn-default" type="submit" value="search"><i class="glyphicon glyphicon-search"></i></button><p>Search on registration number</p>

    </form>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>



        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.TypeName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Members.FirstName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("CheckOut", "CheckOut", new { id = item.Id })
            </td>
        </tr>
    }

</table>
